@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html { box-sizing: border-box; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/yellow.jpg");
  background-position: center -1em;
  background-size: 350%;
}

header, h2, h3 {
  text-align: center;
}

h1, h2, h3 {
  font-style: normal;
  padding: 1.5em 1.5em .5em 1.5em;
}

h2, h3 {
  font-family: "jaf-bernina-sans-condensed",sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "orator-std",sans-serif;
  font-weight: 400;
}

.heart-img {
  width: 30px;
}

.sm-icon {
  width: 45px;
  padding-right: .5em;
  padding-left: .5em;
}
